<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>manga</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/newdev/.pyenv/shims/python3</string>
		<string>/Users/newdev/Hive/Development/personal_projects/spotify-liked-songs-manager/app.py</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StartCalendarInterval</key>
	<dict>
	  <key>Weekday</key>
	  <integer>7</integer>
	</dict>
	<key>StandardOutPath</key>
	<string>/Users/newdev/Hive/Development/personal_projects/spotify-liked-songs-manager/cron-logs/cron-out.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/newdev/Hive/Development/personal_projects/spotify-liked-songs-manager/cron-logs/cron-error.log</string>
</dict>
</plist>
